<app-TopNavBar></app-TopNavBar>
<div (click)="hideEvent()">
<div  class="d-flex justify-content-start mb-4">
  <i  (click)="backClicked()"     class="back fa fa-2x fa-arrow-left" aria-hidden="true"></i>
  <h3 class="hc1">Job Detail</h3>
</div>
<!--  Tab Toggle -->
 <div *ngIf="loggedUserId==job?.User?.Id" class="container-sm mt-0">
  <div class="row col-sm-12">
      <div class="d-flex">
        <div class="d-flex flex-row justify-content-between">
          <div   class="switch-button">
            <input  class="switch-button-checkbox" type="checkbox" />
            <label  class="switch-button-label" for=""><span class="switch-button-label-span">Post</span>
            </label>
            <label  class="ll" for=""><span >&nbsp;Responce
              <span  class="badge rounded-pill bg-Responce">
                {{totalResponces}}
              </span>
             </span>
            </label>

          </div>
        </div>
      </div>
  </div>
</div>
<div class="container-sm mt-4">
    <!-- User Sections -->
      <div class="row col-sm-12">
        <div class="d-flex">
          <div style="cursor: pointer;" [routerLink]="['/profile',job.User.Id]" class="d-flex flex-row justify-content-start">
            <div class="icon">
              <img class="rounded-circle img-fluid"
                [src]="job?.IsAnonymous==false?job?.User?.UserImage:job?.AnonmousUserPic"/>
            </div>
            <div class="ms-2 c-details">
              <h6  *ngIf="job?.IsAnonymous==false" class="mt-2">{{job?.User?.Name}}<br> <span>{{job?.TimeAgo}}</span></h6>
              <h6 *ngIf="job?.IsAnonymous==true" class="mt-2">Anonymous<br> <span>{{job?.TimeAgo}}</span></h6>
            </div>
          </div>
        </div>
        <div *ngIf="loggedUserId!=job?.User?.Id"  class="d-flex justify-content-end"> <span>
            <button type="button" class="btn btn-EditHooz">Chat</button>
              </span>
        </div>

        <div *ngIf="loggedUserId==job?.User?.Id" class="d-flex justify-content-end"> <span>
          <button  style="color: white; background-color: black;" (click)="Edit(job.Id)" type="button" class="btn btn-EditHooz">Edit</button>

        </span>
      </div>
      </div>

      <!-- Section-2 Job Status -->
      <div class="row col-sm-12 mt-4">
        <div  class="d-flex">
          <!-- If Other Job Details -->
          <div *ngIf="loggedUserId!=job?.User?.Id" class="d-flex flex-row justify-content-start">
            <div class="mt-2">
              <p class="px-2" style="font-weight: bold;">Job status &nbsp;&nbsp;<span
                  class="badge bg-dark">{{job.JobStatus}}</span>

              </p>
            </div>


          </div>

           <!-- If Other Job Details -->
           <div *ngIf="loggedUserId==job?.User?.Id" class="d-flex flex-row justify-content-start">
            <div class="mt-2">
              <p style="font-weight: bold;">Job status</p>
           </div>
           <div class="ms-2 c-details">
               <div class="select">
                   <select (change)="UpdateStatus($event)" name="nameValueSelect" class="select__field" required>
                       <option [selected]="job.JobStatus==='OPEN'" value="OPEN">OPEN&nbsp;</option>
                       <option [selected]="job.JobStatus==='ON HOLD'" value="ON HOLD">ONHOLD&nbsp;</option>
                       <option [selected]="job.JobStatus==='CLOSED'" value="CLOSED">CLOSED&nbsp;</option>
                       <option [selected]="job.JobStatus==='DELETED'" value="DELETED">DELETE&nbsp;</option>
                   </select>
                 </div>
           </div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
          <div class="dropdown" style="float:left;">
              <img style="cursor: pointer;" class="img share" src="./../../../assets/Logo/ThreeDotForJobDetailsPage.png" />
            <div class="dropdown-content JobdetailDroupdown mt-0">
              <a *ngIf="loggedUserId!=job?.User?.Id && loggedUserId && isJobAdded" style="cursor: pointer;" (click)="AddToJob()">Add To Job</a>
              <a *ngIf="loggedUserId!=job?.User?.Id && loggedUserId && !isJobAdded" style="cursor: pointer;" (click)="RemoveToJob()"> &nbsp;Remove Job</a>
              <a *ngIf="loggedUserId!=job?.User?.Id && loggedUserId" style="cursor: pointer;" (click)="Report()">Report</a>
            <a  data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="cursor: pointer;">Share</a>
            </div>
          </div>

        </div>


        </div>

      <!-- Image Section-2 -->
       <div class="row col-sm-12 mt-0">
        <div class="d-flex">
            <label id="custom-button" class="form-control two">
                <div  *ngIf="job?.ImagesUrl==null"  style="text-align: center; margin-top: 60px;">
                    <img  style="height: 80px; width: 80px;" src="../../../assets/DummyProfileImg/ImgThumb.png" alt="your image" />
                </div>
                <div  *ngIf="job?.ImagesUrl!=null"  style="text-align: center; margin-top: 2px;">
                  <img class="img img-responsive img-fluid"  style="height: 183px; width: 560px;" [src]="job.JobDetailImage" alt="job image" />
              </div>
                </label>
        </div>
      </div>

         <!-- Job Descriptions -->
         <div class="row col-md-10 mt-2">
            <div class="d-flex">
              <p style="font-family: roboto;">{{job?.Descriptions}}</p>
            </div>
          </div>

           <!-- Tags -->
         <div class="row col-md-11 mt-2">
            <div class="d-flex">
                <div *ngFor="let item of job?.Tags" class="badgeTag" >
                    <span class="badge bg-badge text-dark"><p class="text text-center" style="color: white; margin-top: 4px;">{{item.TagName}}</p>   </span>
                    &nbsp;
                   </div>
            </div>
          </div>

              <!-- Locations -->
         <div class="row col-md-11 mt-2">
            <div class="d-flex">
                <div class="mb-4">

                    <label for="exampleInputPassword1"  class="form-label">Location  </label>

                  <p style="font-size: 12px; font-weight: bold;">{{job?.Address}}</p>
                  </div>
          </div>
     </div>
</div>
</div>


 <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
    <div class="modal-content ShareModel">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Share with</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="social-buttons">
            <a (click)="shareFB()" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a (click)="shareTwitter()" class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a (click)="GetSharedLink()" class="social-buttons__button social-button social-button--snapchat" aria-label="SnapChat">
              <i class="fa fa-link"></i>
            </a>
            <a  (click)="shareWhatsApp()" class="social-buttons__button social-button social-button--steam" aria-label="Whatsapp">
              <i class="fab fa-whatsapp"></i>
            </a>

          </div>


        </div>
      </div>

    </div>
  </div>
</div>
