@media only screen and (max-width: 1600px) and (min-width: 960px) {
  .container-sm{
    width:710px;
    margin-left: 288px;
  }
  .btn-EditHooz{
    background-color: #00fa9a;
    color: black;
    border-radius: 0.5rem;
    width: 4.6rem;
    font-weight: bold;
    margin-top: -80px;
    margin-left: -178px;
  }
  .share{
    height: 2rem;
    width: auto;
    margin-left:-140px;
    margin-top: -95px;
   }
   .two{
    height: 200px;
    background-color: #eff2f5;
    font-weight: 300;
   color: #d1d1d1;
    border-width: 0;
    width: 85%;
    border-radius: 0.5rem;
  }
  .switch-button {
    background: rgb(239 242 245);
    border-radius: 0.6rem;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 120px;
    position: relative;
    height: 2.5rem;
    margin-left: 190px;


    &-checkbox {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      &:checked + .switch-button-label:before {

        transform: translateX(109px);
        transition: transform 300ms linear;
      }

      & + .switch-button-label {
        font-weight: bold;

        position: relative;
        padding: 10px 0;
        display: block;
        user-select: none;
        pointer-events: none;
        transform: translateX(1px);
        &:before {
          content: "";
          background: #fff;
          height: 2.1rem;
          width: 100%;
          position: absolute;
          left: 0.3rem;
          top:0.2rem;
          border-radius: 0.3rem;
          transition: transform 300ms;
          box-shadow: 0.05rem  0.05rem  0.05rem  0.05rem lightgray;
        }

        .switch-button-label-span {
          position: relative;
          top: -0.1rem;
        }
      }
    }
  }
  .ll{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      font-weight: bold;
      pointer-events: none;

  }
  }

@media only screen and  (max-width:640px) {
  .container-sm{
    width:100%;
  }
  .switch-button {
    background: rgb(239 242 245);
    border-radius: 0.6rem;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 120px;
    position: relative;
    height: 2.5rem;
    margin-left:  110px;


    &-checkbox {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      &:checked + .switch-button-label:before {

        transform: translateX(109px);
        transition: transform 300ms linear;
      }

      & + .switch-button-label {
        font-weight: bold;

        position: relative;
        padding: 11px 0;
        display: block;
        user-select: none;
        pointer-events: none;
        transform: translateX(1px);
        &:before {
          content: "";
          background: #fff;
          height: 2.1rem;
          width: 100%;
          position: absolute;
          left: 0.3rem;
          top:0.2rem;
          border-radius: 0.3rem;
          transition: transform 300ms;
        }

        .switch-button-label-span {
          position: relative;
          top: -0.1rem;
        }
      }
    }
  }
  .ll{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-weight: bold;
    pointer-events: none;

}
    .btn-EditHooz{
      background-color:  #00fa9a;
      color: black;
      border-radius: 0.5rem;
      width: 4.6rem;
      font-weight: bold;
      margin-top: -80px;
    }
     .share{
      height: 1.3rem;
      width: auto;
      margin-left:-50px;
      margin-top: -95px;
     }
     .two{
      height: 200px;
      background-color: #eff2f5;
      font-weight: 300;
     color: #d1d1d1;
      border-width: 0;
      width: 100%;
      border-radius: 0.5rem;
    }
  }
@media only screen and (min-width:641px) and (max-width:961px) {
  .container-sm{
    width:710px;
  }
    .btn-EditHooz{
      background-color:  #00fa9a;
      color: black;
      border-radius: 0.5rem;
      width: 4.6rem;
      font-weight: bold;
      margin-top: -80px;
    }
     .share{
      height: 1.3rem;
      width: auto;
      margin-left:-50px;
      margin-top: -95px;
     }
     .two{
      height: 200px;
      background-color: #eff2f5;
      font-weight: 300;
     color: #d1d1d1;
      border-width: 0;
      width: 100%;
      border-radius: 0.5rem;
    }
}
@media only screen and (max-width:481px) and (min-width:100px){
  .ll{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-weight: bold;
    pointer-events: none;

}
  .switch-button {
    background: rgb(239 242 245);
    border-radius: 0.6rem;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    color: black;
    position: relative;
    padding-right: 120px;
    position: relative;
    height: 2.5rem;
    margin-left: 55px;


    &-checkbox {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      &:checked + .switch-button-label:before {

        transform: translateX(109px);
        transition: transform 300ms linear;
      }

      & + .switch-button-label {
        font-weight: bold;

        position: relative;
        padding: 11px 0;
        display: block;
        user-select: none;
        pointer-events: none;
        transform: translateX(1px);
        &:before {
          content: "";
          background: #fff;
          height: 2.1rem;
          width: 100%;
          position: absolute;
          left: 0.3rem;
          top:0.2rem;
          border-radius: 0.3rem;
          transition: transform 300ms;
        }

        .switch-button-label-span {
          position: relative;
          top: -0.1rem;
        }
      }
    }
  }
}
.container-fluid {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

input[type="file"] {
  display: none;
}

.badgeTag{
  display: inline-block;
     padding: 3px;
 }
 .bg-badge {
  background-color: #b4b4b4;
  height: 1.8rem;
}
  // userSections
.icon {
  width: 3.8rem;
  height: 3.8rem;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px
}
.c-details span {
  font-weight: 300;
  font-size: 13px;
  justify-content: center;
}
