<app-TopNavBar></app-TopNavBar> 

<i  (click)="backClicked()"   style="padding-left: 10px; cursor: pointer;" class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>
 <!--  Tab Toggle -->  
 <div *ngIf="loggedUserId==job?.User?.Id" class="container-sm mt-0">
  <div class="row col-sm-12"> 
      <div class="d-flex">
        <div class="d-flex flex-row justify-content-between">
          <div   class="switch-button">
            <input  class="switch-button-checkbox" type="checkbox" />
            <label  class="switch-button-label" for=""><span class="switch-button-label-span">Post</span></label>
          </div> 
        </div>
      </div>
  </div> 
</div> 
<div class="container-sm mt-4"> 
    <!-- User Sections -->
      <div class="row col-sm-12"> 
        <div class="d-flex">
          <div class="d-flex flex-row justify-content-start">
            <div class="icon">
              <img class="rounded-circle img-fluid"
                [src]="job?.IsAnonymous==false?job?.User?.UserImage:job?.AnonmousUserPic"/>
            </div>
            <div class="ms-2 c-details">
              <h6 *ngIf="job?.IsAnonymous==false" class="mt-2">{{job?.User?.Name}}<br> <span>{{job?.TimeAgo}}</span></h6>
              <h6 *ngIf="job?.IsAnonymous==true" class="mt-2">Anonymous<br> <span>{{job?.TimeAgo}}</span></h6>
            </div>
          </div> 
        </div>
        <div *ngIf="loggedUserId!=job?.User?.Id"  class="d-flex justify-content-end"> <span>
            <button type="button" class="btn btn-EditHooz">Chat</button>
              </span>
        </div>

        <div *ngIf="loggedUserId==job?.User?.Id" class="d-flex justify-content-end"> <span>
          <button  style="color: white; background-color: black;" (click)="Edit(job.Id)" type="button" class="btn btn-EditHooz">Edit</button>
        
        </span>
      </div>
      </div>

      <!-- Section-2 Job Status -->
      <div class="row col-sm-12 mt-4"> 
        <div *ngIf="loggedUserId==job?.User?.Id" class="d-flex">
          <div class="d-flex flex-row justify-content-start">
            <div class="mt-2">
               <p style="font-weight: bold;">Job status</p>
            </div>
            <div class="ms-2 c-details">
                <div class="select">
                    <select (change)="UpdateStatus($event)" name="nameValueSelect" class="select__field" required>
                        <option [selected]="job.JobStatus==='OPEN'" value="OPEN">OPEN&nbsp;</option>
                        <option [selected]="job.JobStatus==='ON HOLD'" value="ON HOLD">ONHOLD&nbsp;</option>
                        <option [selected]="job.JobStatus==='CLOSED'" value="CLOSED">CLOSED&nbsp;</option>
                        <option [selected]="job.JobStatus==='DELETED'" value="DELETED">DELETE&nbsp;</option>
                    </select>
                  </div> 
            </div>
           
          </div>  
        </div>
        <div class="d-flex justify-content-end mt-2">
          <div class="dropdown" style="float:left;"> 
              <img style="cursor: pointer;" class="img share" src="./../../../assets/Logo/shareDot.png" /> 
            <div class="dropdown-content mt-0"> 
              <a *ngIf="loggedUserId!=job?.User?.Id && loggedUserId && isJobAdded" style="cursor: pointer;" (click)="AddToJob()">Add To Job</a>
              <a *ngIf="loggedUserId!=job?.User?.Id && loggedUserId && !isJobAdded" style="cursor: pointer;"  ><i class="fa fa-check" aria-hidden="true"></i> &nbsp;Added</a>
              <a *ngIf="loggedUserId!=job?.User?.Id && loggedUserId" style="cursor: pointer;" (click)="Report()">Report</a>
            <a style="cursor: pointer;">Share</a>
            </div>
          </div>
       
        </div>
        
      
        </div>
     
      <!-- Image Section-2 --> 
       <div class="row col-sm-12 mt-0"> 
        <div class="d-flex">
            <label id="custom-button" class="form-control two">
                <div  *ngIf="job?.ImagesUrl==null"  style="text-align: center; margin-top: 60px;">
                    <img  style="height: 80px; width: 80px;" src="../../../assets/DummyProfileImg/ImgThumb.png" alt="your image" />
                </div>
                <div  *ngIf="job?.ImagesUrl!=null"  style="text-align: center; margin-top: 2px;">
                  <img class="img img-responsive img-fluid"  style="height: 183px; width: 560px;" [src]="job.JobDetailImage" alt="job image" />
              </div>
                </label>
        </div> 
      </div>

         <!-- Job Descriptions --> 
         <div class="row col-md-10 mt-2"> 
            <div class="d-flex">
              <p style="font-family: roboto;">{{job?.Descriptions}}</p>
            </div> 
          </div>

           <!-- Tags --> 
         <div class="row col-md-11 mt-2"> 
            <div class="d-flex">
                <div *ngFor="let item of job?.Tags" class="badgeTag" >
                    <span class="badge bg-badge text-dark"><p class="text text-center" style="color: white; margin-top: 4px;">{{item.TagName}}</p>   </span>
                    &nbsp; 
                   </div>
            </div> 
          </div>

              <!-- Locations --> 
         <div class="row col-md-11 mt-2"> 
            <div class="d-flex">
                <div class="mb-4">
           
                    <label for="exampleInputPassword1"  class="form-label">Location  </label>
                   
                  <p style="font-size: 12px; font-weight: bold;">{{job?.Address}}</p>
                  </div>
          </div>
     </div>
</div>