@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background: #ecf0f3
}
.socialBtn{
width: 80px;
padding: 8px;
cursor: pointer;
}
.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 50px auto;
    padding: 40px 30px 30px 30px;
    background-color: #fff;
    border-radius: 15px;
}

.logo {
    width: 80px;
}

.logo img {
    width: 300px;
    height:100px;
    object-fit: cover;

}

.wrapper .name {
    font-weight: 300;
    font-size: 1.0rem;
    letter-spacing:0.5px;
    font-weight: normal;
    font-family: inherit;
    padding-left: 10px;
    color: black
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: #eff2f5;
    color: black;
    font-size: 1.0rem;
    padding: 10px 15px 10px 10px;
    height: 43px;
    border-radius: 7px;
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;

}


.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: black;
    color: #fff;
    border-radius: 8px;
}

.wrapper .btn:hover {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: black;
    color: #fff;
    border-radius: 8px;
}

.wrapper .condition {
    text-decoration: none;
    font-size: 0.8rem;
    color: black;
}

.wrapper a:hover {
    color: #039BE5
}
.btn-hoozGreen {

    background-color: white;
    border-radius: 5px;
    color: black;
    height: 35px;
    width: 80px;
  }
@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}
