 <div (click)="hideEvent()">
<!-- Main Content -->
 <body>
  <div  class="d-flex justify-content-start mb-4">
    <i  (click)="backClicked()"     class="back fa fa-2x fa-arrow-left" aria-hidden="true"></i>
    <h3 class="hc1">Edit Profile</h3>
  </div>
  <div class="container-sm ">
     <!-- User Card Section-1 -->
     <div class="row col-md-12 mb-5">
       <div class="d-flex  justify-content-start">
         <div class="outer-div">
           <div class="inner-div">
             <div class="front">
               <label>
                <div
                style="background-image: url({{CoverImageUrl}});"
                class="front__bkg-photo">
              </div>

                <input #file  (change)="FileUploadCover(file.files)" type="file" size="60" >
               </label>

               <label>
                <div style="background-image: url({{ImageUrl}});"
                class="front__face-photo">

                <span *ngIf="this.profileImgUploading"  class="spinner-border text-dark mt-5" role="status"></span>
              </div>
              <input #file1 (change)="FileUploadUser(file1.files)" type="file" size="60" >
               </label>
               <a type="button" class="btn btn-default btn-circle">
                <i  (click)="RemoveProfilePhotos()" class="fa fa-2x fa-camera"></i>
              </a>
             </div>

           </div>
         </div>
       </div>


     </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form (keydown.enter)="$event.preventDefault()" id="postForm" [formGroup]="userForm"  (ngSubmit)="UpdateProfile()">
  <!-- Name Section -->
    <div class="row mb-4">
      <div class="col-lg-6">
        <div class="">
          <label for="exampleInputEmail1" class="form-label">Name &nbsp; </label>
          <input type="text" formControlName="Name"
          class="form-control one" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small class="text text-center"
          *ngIf="userForm.get('Name').hasError('required') && userForm.get('Name').touched"
          id="emailHelp" class="form-text text text-danger">Name is requires.</small>
          <small class="text text-center"
          *ngIf="userForm.get('Name').hasError('maxlength') && userForm.get('Name').touched"
          id="emailHelp" class="form-text text text-danger">Name length should be less than 20.</small>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="">
          <label for="exampleInputEmail1" class="form-label form-label1">UserName &nbsp; </label>
          <input type="text" formControlName="UserName"
          class="form-control two"  id="exampleInputEmail1" aria-describedby="emailHelp">
          <small
          *ngIf="userForm.get('UserName').hasError('required') && userForm.get('UserName').touched"
          id="emailHelp" class="form-text text text-danger">UserName is requires.</small>
        </div>
       </div>
  </div>

  <!-- Tag Sections -->
  <div class="row mb-0">
    <div class="col-md-12">
      <div class="">
        <label for="exampleInputEmail1" class="form-label">Tags &nbsp; </label>
        <div class="buttonInside">
          <input (keyup.enter)="AddTagging()" type="text" formControlName="stringTags" class="form-control taginput " id="exampleInputEmail1" aria-describedby="emailHelp">
          <button type="button" (click)="AddTagging()" class="tagbutton" id="showPassword">Add</button>
        </div>
      </div>
     </div>

  </div>

  <div class="container-fluid mb-4">
    <div *ngFor="let item of Tags" class="badgeTag" >
      <button type="button" class="btn badge bg-badge">
        {{item.TagName}} <span style="cursor: pointer;" class="badge "><i (click)="RemoveTagging(item.TagName)" class="fa fa-times" aria-hidden="true"></i></span>
      </button>


    </div>
</div>


  <!-- AboutMe sections -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="">
        <label for="exampleInputEmail1" class="form-label">About Me &nbsp; </label>

        <textarea style="height: 80px;"
        placeholder="Short bio" type="text" formControlName="AboutUs"

        class="form-control about"  id="exampleInputEmail1" aria-describedby="emailHelp"
        ></textarea>
      </div>
     </div>

  </div>

  <!-- Link sections -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="">
        <label for="exampleInputEmail1" class="form-label">Links &nbsp; </label>
        <input placeholder="Link" type="text" formControlName="WebSiteUrl"
        class="form-control about"  id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
     </div>

  </div>

</form>
  </div>
  <br><br><br> <br><br>
  <footer id="footer" class="d-flex fixed-bottom">
    <div class="container d-flex align-items-center justify-content-center   text-center">
      <button (click)="Reset()"  role="button" class="btn btn-lg btn-reset">Reset</button>&nbsp;&nbsp;
      <button  type="submit" form="postForm" [disabled]="!userForm.valid || btnLoader" class="btn btn-lg btn-save">
          <span *ngIf="this.btnLoader"  class="spinner-border spinner-border-sm" role="status"></span>
          <span *ngIf="this.btnLoader"  class="load-text"> Saving...</span>
          <span *ngIf="!this.btnLoader" class="btn-text">  Save  </span>


      </button>
    </div>
  </footer>
 </body>

</div>
