<app-TopNavBar></app-TopNavBar>

<div (click)="hideEvent()">
<div class="d-flex justify-content-start mt-4">
  <i  (click)="backClicked()"  class="back fa fa-2x fa-arrow-left" aria-hidden="true"></i>
</div>

<body>
  <img class="img-responsove img-fluid desktopImg" style="float: right;" src="../../../assets/Logo/DownloadBG.png"/>
  <div class="InDestop">
    <div   class="d-flex mt-5">
      <div class="ContentSection mt-2">
        <p class="mb-5">
          Get complete feature rich<br>
experience on your phone
        </p>
<h2 class="mb-4" style="font-weight: bold;">Download Hooz app</h2>
<img class="mb-2" src="../../../assets/Logo/googleplayDownload.png"/><br>
<span>Available on Google Play only</span>
      </div>
    </div>
  </div>
  <img class="img-responsove img-fluid mobileImg mt-4" style="float: right;" src="../../../assets/Logo/DownloadBG.png"/>
</body>
</div>

