@media only screen and (max-width:640px) and (min-width:480px) {
  .container-sm{
    width:100%; 
  } 
  .hideInSmall{
    display: none;
  }
  .card-text{ 
    font-size: 22px;
    font-weight: bolder;
    color: white;
     }
  .img-responsive{
    margin-bottom: 2px;
  } 
  .togs{
    display: none;
  }
  .switch-button { 
    background: rgb(239 242 245);
    border-radius: 0.6rem;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: black; 
    position: relative;
    padding-right: 120px;
    position: relative;
    height: 2.5rem;
    margin-left:  110px;
 
    &:before {
      content: "Profiles";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      font-weight: bold;
      pointer-events: none;
    } 
    &-checkbox {
      cursor: pointer; 
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2; 
      &:checked + .switch-button-label:before {
       
        transform: translateX(109px);
        transition: transform 300ms linear;
      }
 
      & + .switch-button-label {
        font-weight: bold;
      
        position: relative;
        padding: 11px 0;
        display: block;
        user-select: none;
        pointer-events: none; 
        transform: translateX(1px);
        &:before {
          content: "";
          background: #fff;
          height: 2.1rem;
          width: 100%;
          position: absolute;
          left: 0.3rem;
          top:0.2rem;
          border-radius: 0.3rem; 
          transition: transform 300ms;
        }
 
        .switch-button-label-span {
          position: relative;
          top: -0.1rem;
        }
      }
    }
  } 
  .section-dropdown1 {
    position: absolute;
      background-color: #111;
      color: #fff !important;
      padding: 2px;
      top: 70px;
      margin-left: 270px;
      width: 16%;
      border-radius: 0.6rem;
      display: block;
      box-shadow: 0 14px 35px 0 rgb(9 9 12 / 40%);
      z-index: 999;
      opacity: 0;
      pointer-events: none;
      /* transform: translateY(20px);
      transition: all 200ms linear; */
      
    height: 500px;
  }
  
  .card-text{ 
    font-size: 28px;
    font-weight: bolder;
    color: white;
     }
.form {
  width: 290px;
 }
}  
@media only screen and (min-width:641px) and (max-width:1099px) {
  .container-sm{
    width:710px;   
  } 
  .hideInSmall{
    display: none;
  }
  .img-responsive{
    margin-bottom: 2px;
  } 
  .togs{
    display: none;
  }
  .switch-button { 
    background: rgb(239 242 245);
    border-radius: 0.6rem;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: black; 
    position: relative;
    padding-right: 120px;
    position: relative;
    height: 2.5rem;
    margin-left: 190px;
 
    &:before {
      content: "Profiles";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      font-weight: bold;
      pointer-events: none;
    } 
    &-checkbox {
      cursor: pointer; 
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2; 
      &:checked + .switch-button-label:before {
       
        transform: translateX(109px);
        transition: transform 300ms linear;
      }
 
      & + .switch-button-label {
        font-weight: bold;
      
        position: relative;
        padding: 11px 0;
        display: block;
        user-select: none;
        pointer-events: none; 
        transform: translateX(1px);
        &:before {
          content: "";
          background: #fff;
          height: 2.1rem;
          width: 100%;
          position: absolute;
          left: 0.3rem;
          top:0.2rem;
          border-radius: 0.3rem; 
          transition: transform 300ms;
        }
 
        .switch-button-label-span {
          position: relative;
          top: -0.1rem;
        }
      }
    }
  } 
  .card-text{ 
    font-size: 28px;
    font-weight: bolder;
    color: white;
     }
     .section-dropdown1 {
      position: absolute;
        background-color: #111;
        color: #fff !important;
        padding: 2px;
        top: 70px;
        margin-left: 517px;
        width: 16%;
        border-radius: 0.6rem;
        display: block;
        box-shadow: 0 14px 35px 0 rgb(9 9 12 / 40%);
        z-index: 2;
        opacity: 0;
        pointer-events: none;
        transform: translateY(20px);
        transition: all 200ms linear;
        
      height: 500px;
    }
.form {
  width: 500px;
 }
} 

@media only screen and (max-width: 1600px) and (min-width: 1100px) { 
  .container-sm{
    width:710px; 
    margin-left: 284px;
  } 
.form {
  width: 538px;
 }
 .hideInSmall{
  display:contents;
}
.switch-button { 
  background: rgb(239 242 245);
  border-radius: 0.6rem;
  overflow: hidden;
  width: 240px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: black; 
  position: relative;
  padding-right: 120px; 
  height: 2.5rem;
  margin-left: 190px;
  
  &:before {
    content: "Profiles";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-weight: bold;
    pointer-events: none;
    
  } 
  &-checkbox {
    cursor: pointer; 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2; 
    &:checked + .switch-button-label:before {
     
      transform: translateX(109px);
      transition: transform 300ms linear;
    }

    & + .switch-button-label {
      font-weight: bold;
    
      position: relative;
      padding: 7px 0;
      display: block;
      user-select: none;
      pointer-events: none; 
      transform: translateX(1px);
      &:before {
        content: "";
        background: #fff;
        height: 2.1rem;
        width: 100%;
        position: absolute;
        left: 0.3rem;
        top:0.2rem;
        border-radius: 0.3rem; 
        transition: transform 300ms;
        box-shadow: 0.05rem  0.05rem  0.05rem  0.05rem lightgray;
      }

      .switch-button-label-span {
        position: relative;
        top: -0.1rem;
      }
    }
  }
} 
.tog{
  display: none;
} 
.togs{
 display: block;
} 
.card-text{ 
  font-size: 28px;
  font-weight: bolder;
  color: white;
   }
} 
@media only screen and (max-width:480px) and (min-width:359px) {
  .container-sm{
    width:100%; 
  }
  .card-text{ 
    font-size: 22px;
    font-weight: bolder;
    color: white;
     }
  .togs{
    display: none;
  } 
  .section-dropdown1 {
    position: absolute;
      background-color: #111;
      color: #fff !important;
      padding: 2px;
      top: 70px;
      margin-left: 172px;
      width: 16%;
      border-radius: 0.6rem;
      display: block;
      box-shadow: 0 14px 35px 0 rgb(9 9 12 / 40%);
      z-index: 2;
      opacity: 0;
      margin-top: 5px;
      pointer-events: none;
      /* transform: translateY(20px);
      transition: all 200ms linear; */
      
    height: 500px;
  }
  .form {
    width:185px;  
   }
}  

@media only screen and (max-width:481px) and (min-width:100px) {
  .container-sm{
    width:100%; 
  }
  .switch-button { 
    background: rgb(239 242 245);
    border-radius: 0.6rem;
    overflow: hidden;
    width: 240px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: black; 
    position: relative;
    padding-right: 120px;
    position: relative;
    height: 2.5rem;
    margin-left: 55px;
 
    &:before {
      content: "Profiles";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      font-weight: bold;
      pointer-events: none;
    } 
    &-checkbox {
      cursor: pointer; 
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2; 
      &:checked + .switch-button-label:before {
       
        transform: translateX(109px);
        transition: transform 300ms linear;
      }
 
      & + .switch-button-label {
        font-weight: bold;
      
        position: relative;
        padding: 11px 0;
        display: block;
        user-select: none;
        pointer-events: none; 
        transform: translateX(1px);
        &:before {
          content: "";
          background: #fff;
          height: 2.1rem;
          width: 100%;
          position: absolute;
          left: 0.3rem;
          top:0.2rem;
          border-radius: 0.3rem; 
          transition: transform 300ms;
        }
 
        .switch-button-label-span {
          position: relative;
          top: -0.1rem;
        }
      }
    }
  } 
  .card-text{ 
    font-size: 22px;
    font-weight: bolder;
    color: white;
     }
     
  .togs{
    display: none;
  } 
  
  .section-dropdown1 {
    position: absolute;
      background-color: #111;
      color: #fff !important;
      padding: 2px;
      top: 70px;
      margin-left: 172px;
      width: 16%;
      border-radius: 0.6rem;
      display: block;
      box-shadow: 0 14px 35px 0 rgb(9 9 12 / 40%);
      z-index: 2;
      opacity: 0;
      pointer-events: none;
      /* transform: translateY(20px);
      transition: all 200ms linear; */
      
    height: 500px;
  }
  .form {
    width:170px;  
   }
 

}  
.form-input{
  height: 40px;
  text-indent: 0;
  border-radius: 10px;
  background-color: #eff2f5;
  color: #000;
}
.navbar-toggler {
    background-color: transparent;  
   border: 1px solid transparent;  
}
 .links{
  font-weight:bold;
   color: black;
   padding: 1px;
   text-decoration: none;
 } 
 .share{ 
  height: 1.3rem;
  width: auto;
 }
  /* Card For No Job Images */ 
  .cd{
    height: 230px;
    border-radius: 0.5rem; 
  }
  
  .tog1{
    display: none;
  }
.card {
  border-radius: 1.55rem;
  /* -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16); */
  border: none;
  padding: 0ch;
  margin-bottom: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block { 
  border-radius: 1.55rem; 
}

.order-card i {
  font-size: 20px;
} 
  /*End  Card For No Job Images */

.dropdown-item{
  cursor: pointer;
}
.bg-light1{
  background-color: white;
} 
.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}
 
.form span {
  position: absolute;
  right: 17px;
  top: 4px;
  padding: 2px; 
}
 
 
.nav-item{
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link  {
  padding: 0.8rem; 
}  
element.style {
  width: 52px;
  height: 52px;
}
.profileimg{
  margin-top: -8px; 
  }
  .dropdown-menu{
    float: left;
    margin-left: -94px;
} 
.heading{ 
  margin-top: 5px;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  content: "ds";
}  
.img-thumbnail {
  padding: 0rem;
  background-color: #fff;
  border: 0px solid #dee2e6;
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
}
/* Nav Over */

.search-results{
  overflow-x: hidden; 
}
body {
    background-color: #eee;
    width: 100%;
    overflow-x: hidden;
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px;  
}
 
.icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
} 
 
.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}
 
.card{
  cursor: pointer;
} 
/* //Loader */
 
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin-left: 700px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Search Suggetions */  
.searchSuggetion{   
  background: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;  
	z-index: 999; 
  width:inherit;
  position:absolute; 
  border: 1px solid #0000000d;
} 
.searchSuggetion ul li {
  font-weight: 600;
    font-size: 14px;
    color: rgb(4, 17, 29);
  list-style-type: none;
  margin-left: -32px;
  line-height: 5ch;
  z-index: 999;
  border-bottom: 0px solid rgb(229, 232, 235); 
  
} 
.searchSuggetion ul li:hover { 
  color: black; 
  z-index: 999;
  box-shadow: 0 0 1px 1px lightgray; 
}
/* //Toggle css */ 

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){ 
  opacity: 0; 
}  
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{ 
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px; 
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg); 
  transition: transform 200ms linear;
} 


.section-dropdown1:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
} 
.section-dropdown1:after {
  position: absolute;
  top: -7px;
  left: 152px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
} 
.dropdown:checked ~ .section-dropdown1{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  padding: 22px;
  color: #fff !important;
  width: max-content;
}

.section-dropdown {
  position: absolute;
    background-color: #111;
    color: #fff !important;
    padding: 2px;
    top: 70px;
    margin-left: 200px;
    width: 16% !important;
    border-radius: 0.6rem;
    display: block;
    box-shadow: 0 14px 35px 0 rgb(9 9 12 / 40%);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    /* transform: translateY(0px);
    transition: all 200ms linear; */
    
  height: 500px;
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  padding: 22px;
  color: #fff !important; 
  width: max-content;
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1; 
} 
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 211px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
} 

 
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
} 
.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1; 
}
 #b{
  color: #fff !important;
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
  font-family: inherit;
  padding: 6px;
  margin-bottom: 2px; 
  cursor: pointer;
}

 #s{
  color: #fff !important;
  text-decoration: none;
  font-size: small;
  font-weight: normal;
  font-family: inherit;
  padding: 6px;
  margin-bottom: 2px;
  cursor: pointer;
}
.section-dropdown-sub a {
  font-size: 14px;
}   
/* Other */