<nav class="mb-5 navbar navbar-expand-lg navbar-light bg-light1">
  <div class="container-fluid">
    <img class="img-responsive" style="height: 3.2rem; width: 4.5rem;" src="../../../assets/Logo/hoozlogo.png"/>
    <div class="navbar-nav hideInSmall">
      <a href="#" class="nav-item nav-link active"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link active"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a>
      <a href="#" class="nav-item nav-link"> </a> 
       
  </div>

  
  <form class="d-flex justify-content-center">
      <div class="input-group">                    
        <div class="form "> <input (keyup.enter)="Search(searchval)" [(ngModel)]="searchval" #movieSearchInput id="searchTag" type="text" class="form-control form-input" placeholder="search your interest or needs"> 
          <div class="searchSuggetion" *ngIf="hidesearchlist">
            <ul>
              <li *ngFor="let item of tag.data" (click)="Search(item.TagName)">
                <div>&nbsp;&nbsp;&nbsp;&nbsp;{{item.TagName}}</div>
              </li>
            </ul>
          </div>
          <span style="cursor: pointer;" *ngIf="!showClose"  class="left-pan"> <i class="fa fa-search-plus"></i></span>
          <span style="cursor: pointer;" (click)="ClearSearch()" *ngIf="showClose"  class="left-pan"> <i class="fa fa-times-circle"></i></span>
        </div>
      </div>
  </form>


    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-end" id="navbarCollapse">
          <div class="navbar-nav hideInSmall">
              <a href="#" class="nav-item nav-link active"> </a>
              <a href="#" class="nav-item nav-link"> </a>
              <a href="#" class="nav-item nav-link"> </a>
              <a href="#" class="nav-item nav-link"> </a>
              <div class="nav-item  "> 
              </div>
          </div>
        
          <div class="navbar-nav">
            <form class="d-flex">
              <ul class="navbar-nav ">
                 <li *ngIf="isLogedIn"  class="nav-item">
                  <a class="nav-link active" [routerLink]="['/jobpost']">Create Posts</a>
                </li>  
                <li *ngIf="!isLogedIn"  class="nav-item">
                  <a class="nav-link active" [routerLink]="['/login']">Login</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/']">Wall</a>
                </li>
      
              
                  <li *ngIf="isLogedIn"  class="nav-item dropdown profileimg">
                  <img
                  src="{{user?.ImageUrl=='https://res.cloudinary.com/livsolution/image/upload/v1640110201/imgs_pg46ar.png'?'../../../assets/DummyProfileImg/DefaultUser.png':user?.ImageUrl}}"
  
                  class="nav-link dropdown-toggle img-circle" style="width: 64px; height: 64px;" href="#"
                    id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
      
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" [routerLink]="['/profile',user.Id]">My Profile</a></li>
                    <li><a class="dropdown-item"  [routerLink]="['/editProfile']" routerLinkActive="router-link-active" >Edit Profile</a></li>
                    <li><a class="dropdown-item"  (click)="LogOut()">LogOut</a></li>
                   
                  </ul>
                </li>
       
              </ul>
            </form>
          </div>
      </div>
  </div>
</nav>


  
  <div  
  infiniteScroll
  [infiniteScrollDistance]="7"
  (scrolled)="onScroll()"
  class="search-results">
  <div class="container-fluid row">
  
      <div *ngFor="let item of walldatas; let i = index" class="col-md-3">
          <div [routerLink]="['/jobDetails',item.Job.Id]" routerLinkActive="router-link-active"  class="card p-3 mb-2">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon">
                         <img *ngIf="item.Job.IsAnonymous===false" class="rounded-circle img-fluid" 
                        src="{{item.Job.User?.ImageUrl=='https://res.cloudinary.com/livsolution/image/upload/v1640110201/imgs_pg46ar.png'?'../../../assets/DummyProfileImg/DefaultUser.png':item.Job.User?.ImageUrl}}"
                        > 
                        <img *ngIf="item.Job.IsAnonymous===true" class="rounded-circle img-fluid" 
                        src="../../../assets/DummyProfileImg/anonymous.png"
                        > 
                      </div>
                      <div class="ms-2 c-details">
                          <h6 class="mb-0">{{item?.Job.User.Name}}</h6> <span>{{item?.Job.TimeAgo}}</span>
                      </div>
                  </div>
                  <div class="badge"> <span>Share</span> </div>
              </div>
              <div class="mt-1">
                  <p class="heading">{{item?.Job.Descriptions}} </p>
                  <div class="mt-2">
                      <div class="col-md-12 p-1 bg-white">
                       
                           <img class="img-thumbnail img-responsive img-fluid" 
                           src="{{item?.Job.ImageName!=null?item?.Job.ThumbNailImage:'../../../assets/DummyProfileImg/plumbing-repair.jpg'}}" >
                      </div>
                      <!-- <div class="mt-3"> <span class="text1">32 Applied <span class="text2">of 50 capacity</span></span> </div> -->
                  </div>
              </div>
          </div>
      </div>
  
      <div *ngIf="isLoading" class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
       <br><br>
      </div>
      <div *ngIf = "!NotEmptPost" class=""> 
        <div class="col-md-12 d-flex justify-content-center">
          <div class="text-muted h6 alert alert-secondary p-2">Explore more with different keyword</div>
        </div> 
    </div>
  </div> 
  
  <br>
  <br>
  <br>

  </div>
  

  