.container-sm{
    width: 800px; 
} 
@media (min-width< 576px) {  
    .btn-hoozGreen{
        margin-top: 20px;  
        background-color: #00fa9a; 
        height: 30px;
        width: 85px;
        font-weight: bold; 
        margin-left: -188px;
        border-radius: 8px; 
    }
 }
 @media (min-width: 476px) {
    .EditBtn{
        padding: 0;
        margin-left: 412px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
    } 
    .EditBtn1{
        padding: 0;
        margin-left: 412px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
 }
 @media (min-width: 376px) {  
    .btn-hoozGreen{
        margin-top: -50px; 
        margin-left: 389px;
        background-color: #00fa9a; 
        height: 30px;
        width: 85px;
        font-weight: bold; 
        border-radius: 8px; 
    }
 }
 @media (min-width:  500px) {  
    .btn-hoozGreen{
        margin-top: 10px; 
        margin-left: -192px;
        background-color: #00fa9a; 
        height: 30px;
        width: 85px;
        font-weight: bold; 
        border-radius: 8px; 
    }
 }
 @media (min-width: 360px) {  
    .btn-hoozGreen{
        margin-top: -50px; 
        margin-left: 370px;
        background-color: #00fa9a; 
        height: 30px;
        width: 106px;
        font-weight: 700;
    }
    .EditBtn{
        padding: 0;
        margin-left: 360px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
    }
    .EditBtn1{
        padding: 0;
        margin-left: 360px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
    .form-control{
        width: 60%;
    } 
 }

 @media (min-width:  587px) {  
    .btn-hoozGreen{
        margin-top: 10px; 
        margin-left: -192px;
        background-color: #00fa9a; 
        height: 30px;
        width: 106px;
        font-weight: 700;
    } 
    .EditBtn{
        padding: 0;
        margin-left: 258px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: b4b4b4;
        background-color: white;
        border-radius: 8px;
    }
    .EditBtn1{
        padding: 0;
        margin-left: 258px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
    .form-control{
        width: 70%;
    }
 }

 @media (min-width:  784px) {  
    .btn-hoozGreen{
        margin-top: 10px; 
        margin-left: -270px;
        background-color: #00fa9a; 
        height: 30px;
        width: 106px;
        font-weight: 700;
    } 
    .EditBtn{
        padding: 0;
        margin-left: 395px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: b4b4b4;
        background-color: white;
        border-radius: 8px;
    }
    .EditBtn1{
        padding: 0;
        margin-left: 395px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
    .form-control{
        width: 72%;
    }
 }

 @media (min-width:  1000px) {  
    .btn-hoozGreen{
        margin-top: 10px;
        margin-left: -72px;
        background-color: #00fa9a;
        height: 30px;
        width: 106px;
        font-weight: 700;
    }
    .EditBtn{
        padding: 0;
        margin-left: 670px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: b4b4b4;
        background-color: white;
        border-radius: 8px;
    }
    .EditBtn1{
        padding: 0;
        margin-left: 670px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
  
    .form-control{
        width: 100%;
    }
 }
/* Medium devices (tablets, 768px and up) */
@media (min-width>= 560px) { 
    .btn-hoozGreen{
        margin-top: 20px; 
        margin-left: -190px;
        background-color: #00fa9a; 
        height: 30px;
        width: 106px;
        font-weight: 700;
    }
    .EditBtn{
        padding: 0;
        margin-left: 258px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: b4b4b4;
        background-color: white;
        border-radius: 8px;
    } 
    .EditBtn1{
        padding: 0;
        margin-left: 258px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
    .form-control{
        width: 70%;
    }
  } 
/* Large devices (desktops, 992px and up) */
@media (min-width>= 992px) { 
    .btn-hoozGreen{
        margin-top: 20px;  
        background-color: #00fa9a; 
        height: 30px;
        width: 85px;
        font-weight: bold; 
        margin-left: -55px;
        border-radius: 8px; 
    }
    .EditBtn{
        padding: 0;
        margin-left: 670px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: b4b4b4;
        background-color: white;
        border-radius: 8px;
    } 
    .EditBtn1{
        padding: 0;
        margin-left: 670px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
  } 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .btn-hoozGreen{
        margin-top: 15px;  
        background-color: #00fa9a;  
        margin-left: -65px; 
        height: 30px;
        width: 106px;
        font-weight: 700;
    }
    .EditBtn{
        padding: 0;
        margin-left: 670px;
        height: 30px;
        width: 30px;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: b4b4b4;
        background-color: white;
        border-radius: 8px;
    } 
    .EditBtn1{
        padding: 0;
        margin-left: 670px;
        height: 30px;
        width: 30px;
        text-align: center;
        border-width: 0.1vh; 
        border-color: #b4b4b4;
        color: #b4b4b4;
        background-color: white;
        border-radius: 8px;
        border: 1px solid #b4b4b4;
         }  
    .form-control{
        width: 100%;
    }
  }
  
 .fa-pencil-alt{
     color:#adb5bd;
 }

.small-font{
    color: #b4b4b4;
    font-size: 12px; 
    font-weight: 500; 
    margin:0;
    padding:0;
}
.medium-font{
    color: black;
    font-size: 17px;
    font-weight: bolder; 
    margin:0;
    padding:0;
} 
.button-content{
   margin: -10px;
    font-weight: bold;
    color: black;
}
.fa{
    color: white;
} 

.smallDetails{
    font-weight: 700;
    font-size: 12px;
    font-family: sans-serif;
    color: #919da9;
}
.form-label{
    font-weight: bold;
    font-size: 14px;
    color: black;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1d1d1;
}
.one{
    height: 50px;
    background-color: #f7f7f9;
    font-weight: 300;
   color: #d1d1d1;
    border-width: 0;

}
.two{
    height: 150px;
    background-color: #f7f7f9;
    font-weight: 300;
   color: #d1d1d1;
    border-width: 0;
}

.form-check-label{
    font-weight: bold;
    font-size: 14px;
    padding-left: 20px;
}
.parapost{
    font-weight: normal;
    font-family: sans-serif;
    font-size: 10px;
    color: #b4b4b4;
    padding-left: 50px;
}
.headingparapost{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 12px;
    color: #b4b4b4;
    padding-left: 30px;
}
.headingparapost1{
    font-weight: 400;
    font-family: sans-serif;
    font-size: 12px;
    color: #b4b4b4;
    padding-left: 20px;
}
input[type="checkbox"]  {
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 2.05em;
    height: 2.05em;
    border: 0.15em solid  #b4b4b4;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
   }
 
  input[type="checkbox"]:checked{
    background-color: black;
  }
 
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1.5em 1.5em white; 
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(0);
   
  } 
input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.60em;
    height: 1.60em;
    border: 0.11em solid #b4b4b4;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  input[type="radio"]::before {
    content: "";
    width: 1.10em;
    height: 1.10em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em black;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
   } 
  #rangeValue { 
    font-size: 1.02em;
    color: #999;
    font-weight: 100;
    font-weight: bold;
    text-align: left; 
    margin-left: 120px;
  }
  .range {
    width: 260px;
    height: 6px;
    -webkit-appearance: none;
    background:  #00fa9a;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
     
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    cursor: pointer;
    border-radius: 12px;
    border-color: #b4b4b4;
  } 



input[type="file"] {
    display: none;
}