<nav class="mb-5 navbar navbar-light bg-light1">
  <div class="container-fluid"> 
        <img  class="img-responsive" style="height: 3.2rem; width: 4.5rem; cursor: pointer;" src="../../../assets/Logo/hoozlogo.png"/>
        
  <form class="d-flex justify-content-between">
      <div class="input-group">                    
        <div class="form "> <input  id="searchTag" type="text" class="form-control form-input" placeholder="search your interest or needs"> 
          
          <span style="cursor: pointer;"  class="left-pan"> 
          <img class="justify-content-end  img-responsive" style="margin-top: -4px; height: 20px; width: 20px;" src="../../../assets/Logo/searchIco.png"/>
          </span>
         </div>
      </div>
  </form> 

    <button type="button" class="navbar-toggler justify-content-end tog" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse tog justify-content-end" id="navbarCollapse">
          
          <div class="navbar-nav mr-auto mt-2 mt-md-0">
            <form class="d-flex">
              <ul class="navbar-nav ">
                 <li *ngIf="isLogedIn"  class="nav-item">
                  <a class="nav-link active" [routerLink]="['/jobpost']">Create Posts</a>
                </li>  
                <li *ngIf="!isLogedIn"  class="nav-item">
                  <a class="nav-link active" [routerLink]="['/login']">Login</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" [routerLink]="['/']">Wall</a>
                </li>
      
              
                  <li *ngIf="isLogedIn"  class="nav-item dropdown profileimg">
                  <img
                  src="{{user?.ImageUrl=='https://res.cloudinary.com/livsolution/image/upload/v1640110201/imgs_pg46ar.png'?'../../../assets/DummyProfileImg/DefaultUser.png':user?.ImageUrl}}"
  
                  class="nav-link dropdown-toggle img-circle" style="width: 64px; height: 64px;" href="#"
                    id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
      
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" [routerLink]="['/profile',user.Id]">My Profile</a></li>
                    <li><a class="dropdown-item"  [routerLink]="['/editProfile']" routerLinkActive="router-link-active" >Edit Profile</a></li>
                    <li><a class="dropdown-item"  (click)="LogOut()">LogOut</a></li>
                   
                  </ul>
                </li>
       
              </ul>
            </form>
          </div>
      </div>  

      <div  class="justify-content-end togs"> 
        <a class="links" *ngIf="isLogedIn" [routerLink]="['/jobpost']">Create Posts &nbsp;&nbsp;</a>
        <a class="links" *ngIf="!isLogedIn"   [routerLink]="['/login']">Login&nbsp;&nbsp;</a>
        <a  class="links" aria-current="page" [routerLink]="['/']">Wall</a> &nbsp;&nbsp;
        <a *ngIf="isLogedIn"  class="nav-item dropdown profileimg">
          <img 
          src="{{user?.ImageUrl=='https://res.cloudinary.com/livsolution/image/upload/v1640110201/imgs_pg46ar.png'?'../../../assets/DummyProfileImg/DefaultUser.png':user?.ImageUrl}}"
          class="dropdown-toggle img-circle" style="margin-top: -8px; width: 38px; height: 38px;" href="#"
            id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/profile',user.Id]">My Profile</a></li>
              <li><a class="dropdown-item"  [routerLink]="['/editProfile']" routerLinkActive="router-link-active" >Edit Profile</a></li>
              <li><a class="dropdown-item"  (click)="LogOut()">LogOut</a></li>
             
            </ul>
         
      </a>
    </div>
</div> 
</nav>