<nav class="mb-5 navbar sticky-top navbar-light bg-light1 mb-5">
  <div class="container-fluid">
    <img (click)="LogoClick()" class="img-responsive logo" src="../../../assets/Logo/hoozon.svg" />
    <img (click)="LogoClick()" class="img-responsive logo_mb" src="../../../assets/Logo/hoozon_mb.png" />
    <div class="d-flex justify-content-between search_wrap">
      <div class="input-group">
        <form class="form">
          <input type="search" (click)="hide()" autocomplete="off" (keyup.enter)="SearchByEnter()"  #movieSearchInput id="searchTag"
            class="form-control form-input" placeholder="Search">
          <div class="searchSuggetion" *ngIf="hidesearchlist">
            <ul>
              <li *ngFor="let item of tag.data" (click)="SearchByClick(item.TagName)">
                <div>{{item.TagName}}</div>
              </li>
            </ul>
          </div>
          <span *ngIf="!showClose" class="left-pan">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
          <span (click)="ClearSearch()" *ngIf="showClose" class="left-pan"> <i
              class="fa fa-times-circle"></i></span>
        </form>
      </div>
    </div>

      <!-- <img [routerLink]="['/jobpost']" class="addIco img img-responsive img-fluid tog" routerLinkActive="router-link-active"
        style="height: 2.5rem; width: 2.5rem; cursor: pointer;" src="../../../assets/HoozIcon/HoozAdd.png" /> -->
      <a *ngIf="isLogedIn" (click)="RedirectToUser(user.Id)"class="nav-item dropdown_mb profileimg">
        <img src="{{navbarUserPic}}" class="rounded-circle img-fluid"
          href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
      </a>
      <div *ngIf="isLogedIn" type="button" class="navbar-toggler tog mb_menu">
        <label class="for-dropdown" for="dropdown1">
          <img class="img-responsive img-fluid"
            src="../../../assets/Logo/Menu.png" />
        </label>
      </div>
      <a class="links mb_menu" *ngIf="!isLogedIn" href="/login" >Login</a>
      <input (click)="ShowMenu()" class="dropdown tog" type="checkbox" id="dropdown1" name="dropdown1" />

    <!-- DropDown Toggle1 -->
    <!-- <div *ngIf="this.navServices.isShowingMenu" class="section-dropdown1 tog">
      <div *ngIf="isLogedIn">
        <a id="b" (click)="RedirectToUser(user.Id)"><i class="far fa-user-circle"></i>MY PROFILE
        </a><br><br>
        <a id="b" [routerLink]="['/joblist']"> <i class="far fa-newspaper"></i>Job Listing </a><br><br>
        <a id="b" [routerLink]="['/settings/download']"> <i class="fa fa-download"></i>Download
        </a><br><br>
      </div>
      <a id="b"> <i class="fas fa-cog"></i>SETTINGS </a><br><br>
      <a id="b" *ngIf="!isLogedIn" href="/login"> <i class="fas fa-cog"></i>Login </a><br>
      <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub" />
      <div class="section-dropdown-sub">
      </div>
      <a id="s" href="#">About Us <i class="uil uil-arrow-right"></i></a><br><br>
      <a id="s" [routerLink]="['/settings/helpDesk']">Help & Support<i class="uil uil-arrow-right"></i></a><br><br>
      <a id="s" href="#">Terms & Conditions<i class="uil uil-arrow-right"></i></a><br><br>
      <a id="s" href="#">Privacy Policies<i class="uil uil-arrow-right"></i></a><br><br>
      <a id="s" *ngIf="isLogedIn" (click)="LogOut()">Logout<i class="uil uil-arrow-right"></i></a><br><br>
    </div> -->

    <div *ngIf="isLogedIn && this.navServices.isShowingMenu" class="section-dropdown tog">
      <div class="dr_top">
        <div *ngIf="isLogedIn">
          <a id="b" (click)="RedirectToUser(user.Id)"><i class="far fa-user-circle"></i>MY PROFILE</a>
          <a [routerLink]="['/joblist']" id="b"> <i class="far fa-newspaper"></i>Job Listing </a>
          <a id="b" [routerLink]="['/settings/download']"> <i class="fa fa-download"></i>Download</a>
        </div>
        <a id="b"><i class="fas fa-cog"></i>SETTINGS </a>
        <a id="b" *ngIf="!isLogedIn" href="/login"> <i class="fas fa-cog"></i>Login</a>
      </div>
      <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub" />
      <div class="section-dropdown-sub">
        <a id="s" href="#">About Us <i class="uil uil-arrow-right"></i></a>
        <a id="s" [routerLink]="['/settings/helpDesk']">Help & Support<i class="uil uil-arrow-right"></i></a>
        <a id="s" href="#">Terms & Conditions<i class="uil uil-arrow-right"></i></a>
        <a id="s" href="#">Privacy Policies<i class="uil uil-arrow-right"></i></a>
        <a id="s" *ngIf="isLogedIn" (click)="LogOut()">Logout<i class="uil uil-arrow-right"></i></a>
      </div>
    </div>
  <!--End DropDown Toggle1 -->

 <div class="collapse navbar-collapse tog justify-content-end" id="navbarCollapse">
      <div class="navbar-nav mr-auto mt-2 mt-md-0">
        <form class="d-flex">
          <ul class="navbar-nav ">
            <li *ngIf="isLogedIn" class="nav-item">
              <a class="nav-link active" [routerLink]="['/joblist']">Job listing</a>
            </li>
            <li *ngIf="isLogedIn" class="nav-item">
              <a class="nav-link active" [routerLink]="['/jobpost']">Create Posts</a>
            </li>
            <li *ngIf="!isLogedIn" class="nav-item">
              <a class="nav-link active" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/']">Wall</a>
            </li>
            <li [routerLink]="['/profile',user.Id]" *ngIf="isLogedIn" class="nav-item dropdown profileimg">
              <img src="{{user?.ImageUrl}}" class="nav-link dropdown-toggle img-circle"
                href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" />
            </li>
          </ul>
        </form>
      </div>
    </div>

    <div class="justify-content-end togs">
      <!-- <a [routerLink]="['/settings/download']" class="links">Download App</a>
      <a class="links" *ngIf="isLogedIn" [routerLink]="['/joblist']">Job Posts</a> -->
      <a class="links add_post" *ngIf="isLogedIn" [routerLink]="['/jobpost']">
        <i class="fa fa-plus"></i>
      </a>
      <a class="links" *ngIf="!isLogedIn" href="/login" >Login</a>

      <!-- <a  class="links" aria-current="page" [routerLink]="['/']">Wall</a> &nbsp;&nbsp; -->
      <a *ngIf="isLogedIn" (click)="RedirectToUser(user.Id)" class="nav-item dropdown profileimg">
        <img src="{{navbarUserPic}}" class="rounded-circle img-fluid"
          href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
      </a>

      <label *ngIf="isLogedIn" class="for-dropdown menu" for="dropdown">
        <img class=" img img-responsive img-fluid"
          src="../../../assets/Logo/Menu.png" />
      </label>
      <input (click)="ShowMenu()" *ngIf="isLogedIn" class="dropdown" type="checkbox" id="dropdown" name="dropdown" />

      <!-- DropDown Toggle2 -->

        <div *ngIf="isLogedIn && this.navServices.isShowingMenu" class="section-dropdown">
          <div class="dr_top">
            <div *ngIf="isLogedIn">
              <a id="b" (click)="RedirectToUser(user.Id)"><i class="far fa-user-circle"></i>MY PROFILE</a>
              <a [routerLink]="['/joblist']" id="b"> <i class="far fa-newspaper"></i>Job Listing </a>
            </div>
            <a id="b"><i class="fas fa-cog"></i>SETTINGS </a>
            <a id="b" *ngIf="!isLogedIn" href="/login"> <i class="fas fa-cog"></i>Login</a>
          </div>
          <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub" />
          <div class="section-dropdown-sub">
            <a id="s" href="#">About Us <i class="uil uil-arrow-right"></i></a>
            <a id="s" [routerLink]="['/settings/helpDesk']">Help & Support<i class="uil uil-arrow-right"></i></a>
            <a id="s" href="#">Terms & Conditions<i class="uil uil-arrow-right"></i></a>
            <a id="s" href="#">Privacy Policies<i class="uil uil-arrow-right"></i></a>
            <a id="s" *ngIf="isLogedIn" (click)="LogOut()">Logout<i class="uil uil-arrow-right"></i></a>
          </div>
        </div>
      <!--End DropDown Toggle2 -->

    </div>
  </div>
</nav>
<nav class="footer">
  <a class="nav-item" href="#">
    <i class="fa fa-home" aria-hidden="true"></i>
  </a>
  <a class="nav-item" href="#">
    <i class="fa fa-search" aria-hidden="true"></i>
  </a>
  <a class="nav-item add_post" *ngIf="isLogedIn" [routerLink]="['/jobpost']">
    <i class="fa fa-plus"></i>
  </a>
  <a class="nav-item jobs"  href="#">
    <img src="../../../assets/Logo/jobs.png" class="img-fluid" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
  </a>
  <a class="nav-item chat"  href="#">
    <img routerLink="/chat" src="../../../assets/Logo/chat.png" class="img-fluid" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" />
  </a>
</nav>
