@media only screen and (min-width: 320px) {
  .hideInSmall{
    display: none;
  }
  .img-responsive{
    margin-bottom: 2px;
  } 
  .togs{
    display: none;
  }
  .form-input{
    font-size: x-small;
  }
.form {
  width: 190px;
 }
} 


@media only screen and (min-width: 500px) {
  .hideInSmall{
    display: none;
  }
  .img-responsive{
    margin-bottom: 2px;
  } 
  .togs{
    display: none;
  }
.form {
  width: 280px;
 }
} 

@media only screen and (min-width: 1024px) { 
.form {
  width: 550px;
 }
 .hideInSmall{
  display:contents;
}
.tog{
  display: none;
} 
.togs{
 display: block;
}
.form-input{
  font-size:medium; 
}
} 
@media only screen and (min-width< 100px) {
  
  .togs{
    display: none;
  } 
} 
.dropdown-item{
  cursor: pointer;
}
.bg-light1{
  background-color: white;
}
 
.form-input {
  height: 40px;
  text-indent: 0;
  border-radius: 10px;
  background-color: #eff2f5;
  color: #000; 
}
.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af
}
 
.form span {
  position: absolute;
  right: 17px;
  top: 4px;
  padding: 2px; 
}

 
.form-input {
  height: 40px;
  text-indent: 0;
  border-radius: 10px;
  background-color: #eff2f5;
  color: #000; 
}
.nav-item{
  font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link  {
  padding: 0.8rem; 
} 
element.style {
  width: 52px;
  height: 52px;
}
.profileimg{
  margin-top: -8px; 
  }
  .links{
    font-weight:bold;
     color: black;
     padding: 1px;
     text-decoration: none;
   } 
   .tog1{
    display: none;
  }
  .dropdown-menu{
    float: left;
    margin-left: -94px;
} 
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
} 