
      <!-- <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Search...">
      </div> -->
      <div *ngIf="userlist.length>=1">
        <ul *ngFor="let item of userlist"  class="list-unstyled chat-list">
          <li *ngIf="item.Sender.Id!==userId" (click)="RedirectToJob(item.Sender.Id)"
           class="clearfix">
              <img src="{{item.Sender.ImageUrl}}" alt="avatar">
              <div class="about">
                  <div class="name">{{item.Sender.Name}}</div>
                  <!-- <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div> -->
              </div>
              <i  class="fa fa-angle-right"></i>
          </li>
      </ul>
      </div>

      <div *ngIf="userlist.length==0" class="col-md-12 d-flex justify-content-center">
        <div class="Search-result">No response received yet</div>
      </div>
