<div class="chat-app">
  <div id="plist" class="people-list">
      <!-- <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Search...">
      </div> -->
      <ul *ngFor="let item of userlist"  class="list-unstyled chat-list">

          <li *ngIf="item.Sender.Id!==userId"
          [routerLink]="['/jobchatbox']" [queryParams]="{jobId: jobId,senderId:item.RecipientId,recipientId:item.SenderId}"
          class="clearfix">
              <img src="{{item.Sender.ImageUrl}}" alt="avatar">
              <div class="about">
                  <div class="name">{{item.Sender.Name}}</div>
                  <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
              </div>
              <i  class="fa fa-angle-right"></i>
          </li>


      </ul>
  </div>

</div>
