@media only screen and (max-width: 1600px) and (min-width: 960px) {
   
    .NavSection {
        margin-left: 147px;
    }
    .ContentSection{
        margin-left: 97px; 
    }
  .InMobile{
    display: none;
  }
  }
  
@media only screen and (max-width:640px) and (min-width:499px) {
  
  .InDestop {
    display: none;
  }
  .InMobile{
    display: block;
  }
  .select {
    height: 40px;
    width: 27.5rem;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    margin-bottom: 1em;
    margin-left: 8px
  }
  .select:after {
    content: "▼";
    padding: 8px 8px 8px;
    position: absolute;
    color: #00fa9a;
    right: 13px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
  }
  
  .select__field {
    height: 40px;
    width: 100%;
    padding: 5px 15px; 
    background-color: white;
    border: 0.05rem solid  #00fa9a !important;
    border-radius: 0.5rem;
    outline: none;
    font-size: 16px;
    -webkit-appearance: none;
    /* for webkit browsers */
    -moz-appearance: none;
    /* for firefox */
    appearance: none;
    /* for modern browsers */
  }
}
  
  @media only screen and (min-width:641px) and (max-width:961px) { 
   
    .InMobile{
      display: none;
    }
 
  }
  
  @media only screen and (max-width:500px)   { 
   
    .InDestop{
        display: none;
    }
    .InMobile{
      display: block;
    }
    .select {
      height: 40px;
      width: 27.5rem;
      overflow: hidden;
      position: relative;
      border-radius: 3px;
      margin-bottom: 1em;
      margin-left: 8px
    }
    .select:after {
      content: "▼";
      padding: 8px 8px 8px;
      position: absolute;
      color: #00fa9a;
      right: 13px;
      top: 0;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
    }
    
    .select__field {
      height: 40px;
      width: 100%;
      padding: 5px 15px; 
      background-color: white;
      border: 0.05rem solid  #00fa9a !important;
      border-radius: 0.5rem;
      outline: none;
      font-size: 16px;
      -webkit-appearance: none;
      /* for webkit browsers */
      -moz-appearance: none;
      /* for firefox */
      appearance: none;
      /* for modern browsers */
    }
  } 
  @media only screen and (max-width:499px) and (min-width:100px){
    .select {
      height: 40px;
      width: 20.5rem;
      overflow: hidden;
      position: relative;
      border-radius: 3px;
      margin-bottom: 1em;
      margin-left: 8px
    }
    .select:after {
      content: "▼";
      padding: 8px 8px 8px;
      position: absolute;
      color: #00fa9a;
      right: 13px;
      top: 0;
      z-index: 1;
      text-align: center;
      width: 10%;
      height: 100%;
      pointer-events: none;
    }
    
    .select__field {
      height: 40px;
      width: 100%;
      padding: 5px 15px; 
      background-color: white;
      border: 0.05rem solid  #00fa9a !important;
      border-radius: 0.5rem;
      outline: none;
      font-size: 16px;
      -webkit-appearance: none;
      /* for webkit browsers */
      -moz-appearance: none;
      /* for firefox */
      appearance: none;
      /* for modern browsers */
    }
  }

  .NavSection a{ 
    padding: 9px;
    display: grid;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 700;
    cursor: pointer;
}
.NavSection a:hover{ 
  color:rgb(107 93 240);
}
.ContentSection a{
    font-size: unset;
    font-weight: bold;
}

.ContentSection p{
    font-weight: 400;
    font-size: initial;
  }
  .form-control{ 
    width: 95%;
    background-color: #f7f7f9;
    font-weight: 300;
    color: black;
    border-width: 0;
    border-radius: 0.5rem;
  }
  .btn-hoozGreen{
    
    background-color: #00fa9a;  
    font-weight: 700;
    color: black;
}


.c-details span {
  font-weight: 300;
  font-size: 13px;  
  justify-content: center;
} 




.ContentSection1{
  margin-left: 29px; 
}
.ContentSection1 a{
  font-size: unset;
  font-weight: bold;
}

.ContentSection1 p{
  font-weight: 400;
  font-size: initial;
}

h3.hc {
  text-align: center;
}

@media (max-width:767px) {
  .Help_page .back_arrow {
    margin-top: 5px;
  }
}