<app-TopNavBar></app-TopNavBar> 

<body>
  <i  (click)="backClicked()"   style="padding-left: 10px; cursor: pointer;" class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>

<div class="container-sm mt-4">  
  <!-- User Card Section-1 -->
    <div class="row col-sm-12"> 
      <div class="d-flex flex-row justify-content-start">
        <div class="outer-div">
          <div class="inner-div">
            <div class="front">
              <div
                style="background-image: url({{user?.CoverImageUrl}});"
                class="front__bkg-photo">
              </div>
              <div
                style="background-image: url({{user?.UserImage}});"
                class="front__face-photo">
              </div>

            </div>

          </div>
        </div>
      </div>

      <div style="margin-top:  110px;" class="ms-0 d-flex flex-row justify-content-start">
        <h5 style="font-weight: bold;">{{user?.Name}}  <br>
           <span  style="font-weight:lighter; font-size: small;">{{user?.UserAddress}}</span></h5>
      
      </div>

      <div style="z-index: 1;" class="d-flex justify-content-end"> <span>
          <button type="button" *ngIf="userId!=loggedUserId" class="btn btn-ChatHooz">Chat</button>
          <button type="button" *ngIf="userId==loggedUserId"  [routerLink]="['/editProfile']" routerLinkActive="router-link-active" class="btn btn-EditHooz">Edit</button> 
        </span>
      </div> 
</div>

  <!-- Tag Section-2 -->
  <div class="row col-md-11 mt-2"> 
    <h5 style="font-weight: bold;">Tags</h5>
    <div class="">
    
        <div *ngFor="let item of user?.tags" class="badgeTag" >
            <span class="badge bg-badge text-dark"><p class="text text-center" style="color: white; margin-top: 4px;">{{item.TagName}}</p>   </span>
            &nbsp; 
           </div>
    </div> 
  </div>

    <!-- AboutMe Section-3 -->
    <div class="row col-md-10 mt-2"> 
      <h5 style="font-weight: bold;">About me</h5>
      <div>
        <p>
        {{user?.AboutUs}}
        </p>
      </div> 
    </div>

     <!-- Link Section-3 -->
     <div class="row col-md-10 mt-2"> 
      <h5 style="font-weight: bold;">Link</h5>
      <div class="d-flex">
        <p>
         <a href="{{user?.WebSiteUrl}}">{{user?.WebSiteUrl}}</a>
        </p>
      </div> 
    </div>
</div>
</body>
