<div (click)="hideEvent()" class="main_cnt_wrap">
  <div  class="back_arrow">
    <i  (click)="backClicked()" class="back fa fa-2x fa-arrow-left" aria-hidden="true"></i>
  </div>
  <div class="user_profile">
    <!-- <h3 class="hc1">User Profile</h3> -->
  <!-- User Card Section-1 -->
    <div class="">
      <div class="outer-div">
        <div class="inner-div">
          <div class="front">
            <div
              style="background-image: url({{user?.CoverImageUrl}});"
              class="front__bkg-photo overlay_bg">
            </div>
            <div
              style="background-image: url({{user?.UserImage}});"
              class="front__face-photo overlay_bg overlay_radius">
            </div>
          </div>
        </div>
      </div>
      <div class="user_name_wrap">
        <div class="user_name">
          <h5 >{{user?.Name}}</h5>
          <div>{{user.UserAddress.split(',')[user.UserAddress.split(',').length - 3] + ", " +user.UserAddress.split(',')[user.UserAddress.split(',').length - 4]}}</div>
        </div>
        <div class="chat_sec">
            <button type="button" *ngIf="userId!=loggedUserId" (click)="Chat()" class="btn">Chat</button>
        </div>
        <div class="edit_sec">
          <button type="button" *ngIf="userId==loggedUserId"  [routerLink]="['/editProfile']" routerLinkActive="router-link-active" class="btn-hoozOn-2">Edit</button>
        </div>
      </div>
  </div>

    <!-- Tag Section-2 -->
    <div class="badgeTagWrap">
      <h5 class="title">Tags</h5>
      <div>
        <div *ngFor="let item of user?.tags" class="badgeTag" >
          {{item.TagName}}
        </div>
      </div>
    </div>

    <!-- AboutMe Section-3 -->
    <div class="about_sec">
      <h5 class="title">About me</h5>
      <div>
          {{user?.AboutUs}}
      </div>
    </div>

    <!-- Link Section-3 -->
    <div class="links_url">
      <h5 class="title">URL's</h5>
      <div class="lnk">
          <a target="_blank" href="{{user?.WebSiteUrl}}">{{user?.WebSiteUrl}}</a>
      </div>
    </div>
  </div>
</div>
