/* You can add global styles to this file, and also import other style files */ 
@media only screen and (max-width: 1600px) and (min-width: 960px) {
  .hc{  
      margin-left: 356px;
      font-size: x-large;
      font-weight: 700;
  }
  .hc1{
    margin-left: 238px;
    font-size: x-large;
    font-weight: 700;
  }
  .back{
      padding-left: 50px;
      cursor: pointer;
  } 
}

@media only screen and (max-width:640px) and (min-width:499px) {
.hc {
  margin-left: 60px;
  font-size: x-large;
  font-weight: 700;
}

.back {
  padding-left: 6px;
  cursor: pointer;
}  
}

@media only screen and (min-width:641px) and (max-width:961px) { 
  .hc{  
      margin-left: 76px;
      font-size: x-large;
      font-weight: 700;
  }
  .hc1{
    margin-left: 58px;
    font-size: x-large;
    font-weight: 700;
  }
  .back{
      padding-left: 50px;
      cursor: pointer;
  }
 

}

@media only screen and (max-width:500px)   { 
  .hc{  
      margin-left: 36px;
      font-size: x-large;
      font-weight: 700;
  }
  .hc1{
    margin-left: 24px;
    font-size: x-large;
    font-weight: 700;
  }
  .back{
      padding-left: 32px;
      cursor: pointer;
  } 
} 
@media only screen and (max-width:499px) and (min-width:100px){
  .hc{  
    margin-left: 36px;
    font-size: x-large;
    font-weight: 700;
}
.hc1{
  margin-left: 24px;
  font-size: x-large;
  font-weight: 700;
}
.back{
    padding-left: 32px;
    cursor: pointer;
} 
}


.bg-Responce{
  background-color: #00fa9a;
  color: black !important;
} 
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance:none;
}
.select {
  height: 40px;
  width: 6.6rem;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  margin-bottom: 1em;
}

.select:after {
  content: "▼";
  padding: 8px 8px 8px;
  position: absolute;
  color: #00fa9a;
  right: 13px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}

.select__field {
  height: 40px;
  width: 100%;
  padding: 5px 15px; 
  background-color: white;
  border: 0.2rem solid  #e3e3e3;
  border-radius: 0.5rem;
  outline: none;
  font-size: 16px;
  -webkit-appearance: none;
  /* for webkit browsers */
  -moz-appearance: none;
  /* for firefox */
  appearance: none;
  /* for modern browsers */
}
 
.btn-hoozGreen{
    border-radius: 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0.8rem;
    padding: 8px;
  }
  .JobdetailDroupdown{
    top: -22px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 0.5rem;
  }
  
  .dropdown-content a:hover {background-color: rgb(239 239 239);}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  